<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  	<meta name="viewport" content="width=device-width; initial-scale=1.0;" />
	<title>Smith &amp; Robot</title>
	<link rel="apple-touch-icon" href="/media/img/iphone_icon.png"/> 
	<link rel="stylesheet" href="/media/css/iphone_styles.css" type="text/css" media="screen" />
	<meta name="description" content="An interactive design and development firm built to partner with marketers." />
	<script type="application/x-javascript">
	addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);

	function hideURLbar()
	{
		window.scrollTo(0,1);
	}
	
	function flipTo (screen)
	{
		var element = document.getElementById('site');
		className = (screen == 'detail') ? 'site flipped' : 'site';
		element.className = className;
	}
	</script>
	
</head>

<body>
	
<div id="container ">
	
	<div id="site" class="site">
		
	<!-- home page -->
	
		<div id="home" class="screen home">
			<div class="logo center"><img src="/media/img/mobile_logo.png" width="152" height="68" alt="smith &amp; robot" /></div>
			<div class="home_content_wrapper center">
				<h1 class="hidden tagline">Execution is the Idea.</h1>
				<p class="description">
						Smith &amp; Robot is an interactive services firm specially wired to help marketers deliver stories to any audience, any screen.
				</p>
				<div class="contact_home">
					<div class="contact_button call_button"><a href="tel:+1-512-696-0418"><img src="/media/img/mobile_call_button.png" width="132" height="52" alt="call button" /></a></div>
					<div class="contact_button email_button"><a href="mailto:iphone@smithandrobot.com"><img src="/media/img/mobile_email_button.png" width="132" height="53" alt="email button"/></a></div>
				</div>
			</div>
			<div class="view_details"><a href="#" onclick="flipTo('detail');"><img src="/media/img/mobile_view_details.png" width="158" height="37" alt="view details button" /></a></div>
			<div class="clear"></div>
		</div>
		
		<!-- detail page -->
		
		<div id="detail" class="screen detail">
			<div class="detail_content_wrapper center">
				<div id="header">
					<div class="logo_details"><img src="/media/img/mobile_iphone_logo_small.png" width="90" height="41" alt="smith &amp; robot" /></div>
					<div class="home_button"><a href="#" onclick="flipTo('home');"><img src="/media/img/mobile_iphone_home_button.png" width="53" height="30" alt="home button"/></a></div>
				</div>
				<div class="services">
					<ul class="left_column">
						<li>Web &amp; Mobile Sites</li>
						<li>Flash &amp; Silverlight</li>
						<li>Display &amp; Rich Media Ads</li>
						<li>iPhone Applications</li>
						<li>eCommerce</li>
					</ul>
					<ul class="right_column">
						<li>Web Applications</li>
						<li>Social Applications</li>
						<li>Casual Games</li>
						<li>Digital Installations</li>
						<li>Rich Presentations</li>
					</ul>
					<div class="clear"></div>
				</div>
				<div class="copy top copy_block">
					<h2>Serious Digital Brawn</h2>
					<p>
						If you're in marketing, you're in technology. Here's one software-strength development engine, reporting for duty.
					</p>
				</div>
				<div class="copy copy_block">
					<h2>Heart for Creative</h2>
					<p>
						Advance the concept. Sweat the details. More than great design — that's storytelling. And that's good business.
					</p>
				</div>
				<div class="clear"></div>
				<div>
					<div class="copy copy_block">
						<h2>Talent for Partnership</h2>
						<p>
							Not just people skills. Agency people skills. Put your ideas in in the good hands of folks who share your vision.
						</p>
					</div>
					<div class="copy copy_block">
						<h2>Focus</h2>
						<p>
							Smith &amp; Robot is dedicated to one thing; inspired digital execution. No distractions. No agendas. And no egos.
						</p>
					</div>
				</div>
				<div class="home_button home_button_bottom"><a href="#" onclick="flipTo('home');"><img src="/media/img/mobile_iphone_home_button.png" width="53" height="30" alt="home button"/></a></div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
