{% extends 'base.html' %}

{% block content %}


<div class="left-column">


<div class="greeting">
<h1 class="hidden">Execution is the idea.</h1>
<p>Smith &amp; Robot is an interactive services firm specially wired to help marketers deliver stories to any audience, any screen.</p>
</div>

<div class="features">
	<div class="brawn">
	<h3 class="hidden">Serious Digital Brawn</h3>
	<p>If you're in marketing, you're in technology. Here's one software-strength development engine, reporting for duty.</p>
	</div>
	<div class="heart">
	<h3 class="hidden">Heart for Creative</h3>
	<p>Advance the concept. Sweat the details. More than great design &mdash; that's storytelling. And that's good business.</p>
	</div>
	<div class="talent">
	<h3 class="hidden">Talent for Partnership</h3>
	<p>Not just people skills. Agency people skills. Put your ideas in the good hands of folks who share your vision.</p>
	</div>
	<div class="focus">
	<h3 class="hidden">Focus</h3>
	<p>Smith &amp; Robot is dedicated to one thing; inspired digital execution. No distractions. No agendas. And no egos.</p>
	</div>
</div>
<div class="clear"></div>

<div class="services">

	<div class="inner">
	
	<div class="list">
		<h2 class="hidden">Interactive.</h2>
		<ul>
			<li>Web &amp; Mobile Sites</li>
			<li>Flash &amp; Silverlight</li>
			<li>Display &amp; Rich Media Ads</li>
			<li>iPhone Applications</li>
			<li>eCommerce</li>
		</ul>
		
		<ul class="right">
			<li>Web Applications</li>
			<li>Social Applications</li>
			<li>Casual Games</li>
			<li>Digital Installations</li>
			<li>Rich Presentations</li>
		</ul>
		<div class="clear"></div>
	</div>
		
	</div>

</div>

</div>

<div class="right-column" id="scaler">
<div id="swf_container">swf</div>
</div>





{% endblock %}