<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  	<meta name="viewport" content="width=device-width; initial-scale=1.0;" />
	<title>Smith &amp; Robot</title>
	<link rel="stylesheet" href="/media/css/mobile_styles.css" type="text/css" media="screen" />
	<meta name="description" content="An interactive design and development firm built to partner with marketers." />	
</head>

<body>
	
<div id="container">
	<div class="logo"><img src="/media/img/mobile_logo.png" width="152" height="68" alt="smith &amp; robot" /></div>
	<div class="tagline"><img src="/media/img/mobile_tagline.gif" width="119" height="41" alt="execution is the idea."/></div>
	<p>
			Smith &amp; Robot is an interactive services firm specially wired to help marketers deliver stories to any audience, any screen.
	</p>
	<p class="contact">
			(512) 696-0418<br/>
			<a href="mailto:mobile@smithandrobot.com">mobile@smithandrobot.com</a>
	</p>
	<div class="seperator">
		<h2>Services.</h2>
		<p><a href="#container">top</a></p>
		<div class="clear"></div>
	</div>
	<ul class="left_column">
		<li>Web &amp; Mobile Sites</li>
		<li>Flash &amp; Silverlight</li>
		<li>Display &amp; Rich Media Ads</li>
		<li>iPhone Applications</li>
		<li>eCommerce</li>
		<li>Web Applications</li>
		<li>Social Applications</li>
		<li>Casual Games</li>
		<li>Digital Installations</li>
		<li>Rich Presentations</li>
	</ul>
	<div class="seperator">
		<h2>Why us.</h2>
		<p><a href="#container">top</a></p>
		<div class="clear"></div>
	</div>
	<div class="why_us">
		<h3>Serious Digital Brawn</h3>
		<p>
			If you're in marketing, you're in technology. Here's one software-strength development engine, reporting for duty.
		</p>
		<h3>Heart for Creative</h3>
		<p>
			Advance the concept. Sweat the details. More than great design — that's storytelling. And that's good business.
		</p>
		<h3>Talent for Partnership</h3>
		<p>
			Not just people skills. Agency people skills. Put your ideas in in the good hands of folks who share your vision.
		</p>
		<h3>Focus</h3>
		<p>
			Smith &amp; Robot is dedicated to one thing; inspired digital execution. No distractions. No agendas. And no egos.
		</p>
	</div>
	<div class="seperator">
		<h2>Contact us.</h2>
		<p><a href="#container">top</a></p>
		<div class="clear"></div>
	</div>
	<p class="contact">
			(512) 696-0418<br/>
			<a href="mailto:mobile@smithandrobot.com">mobile@smithandrobot.com</a>
	</p>
</div>
</body>
</html>
